<div class="comments_section">
  <% @product.comments.order(created_at: :desc).each do |comment|%>
    <p>
      <span style="font-weight: bold;"><%= comment.user.name %> :</span>
        <%= comment.description %>
    </p>
    <p>
      <h5>Rating:</h5>
        <div class="review-rating" data-score = "<%= comment.rating %>">
        </div>
    </p>
  <% end %>
</div>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
    return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>