<div class="comments_section">
  <% @product.comments.order(created_at: :desc).each do |comment|%>
    <p>
      <span style="font-weight: bold;"><%= comment.user.name %> :</span>
        <%= comment.description %>
    </p>
    <p>
      <h5>Rating:</h5>
        <div id="review-rating">
          <% $rati = comment.rating %>
        </div>
    </p>
  <% end %>
</div>
<script>
  $("#review-rating").rateYo({
    starWidth: "30px",
    rating: <%= $rati || 3 %>,
    spacing: "10px",
    numStars: 5,
    minValue: 0,
    maxValue: 5,
    normalFill: 'black',
    ratedFill: 'orange',
    readOnly: true
  });
</script>