<% if user_signed_in? %>
  <%= form_with(model: [ @product, @comment ]) do |form| %>
    <p>
      <%= form.text_area :description %>
    </p>
    <p>
      <%= form.submit %>
    </p>

  <% end %>
<% end %>  